body{
  background-color: #e3fdfd;
  color: #40514E;
  margin: 0;
  font-family: 'Merriweather', serif;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #dddddd;
  border-width: 5px;
  margin: 100px auto;
  width: 5%;
}

h1{
  color: #22a6b3;
  margin: 0 auto 0 auto;
  font-size: 500%;
  font-family: 'Sacramento', cursive;
}

h2{
  color: #22a6b3;
  font-size: 300%;
  font-family: 'Montserrat', sans-serif;
}

h3{
  color: #22a6b3;
  font-size: 150%;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}

p{
  line-height: 2;
}

.intro{
  width: 30%;
  margin: auto;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.top-container{
  background-color: #e3fdfd;
  width: 100%;
  padding-top: 100px;
  text-align: center;
}

.middle-container{
  background-color: white;
  width: 100%;
  padding-top: 100px;
  text-align: center;
}

.footer-link{
  color: #40514E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

.footer-link:hover{
  color: #e3fdfd;
}

.skill-row{
  width: 50%;
  margin: auto;
  text-align: left;
}
.btn{
  background-color: #22A6B3;
  color: #E3FDFD;
  font-family: 'Montserrat', sans-serif;
  border-radius: 20px;
  font-size: 20px;
  padding: 16px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 40px;
}

.btn:hover {
   background: #22A6B3;
   background-image: linear-gradient(to bottom, #22A6B3, #E3FDFD);
   border-radius: 20px;
   text-decoration: none;
}

.bottom-container{
  background-color: #22a6b3;
  padding: 50px 0;
  width: 100%;
  color: #e3fdfd;
  text-align: center;
}
